{% extends 'base.html' %}
{% load static %}
{% block extCss %}
    <link rel="stylesheet" href="{% static 'order/css/order.css' %}">
{% endblock %}

{% block content %}
    <div id="order">
        <p>
            <button id="backBtn" class="btn btn-xs btn-info">返回</button>
        <div class="clearfix"></div>
        </p>
        <h3>我的订单</h3>

        <div>
            <section class="orderInfo">
                <p><strong>订单金额:</strong><span>￥{{ order.orderPrice }} 元</span></p>
                <p><strong>收货信息:</strong>
                    <span>{{ order.orderAdress.address_detail }}</span>
                    <span>{{ order.orderAdress.name }}</span>
                    <span>{{ order.orderAdress.phone }}</span>
                </p>
            </section>

            <menu id="orderGoods">
                <ul>
                    {% for orderitem in order.ordergoods_set.all %}

                        <li>
                            <dl>
                                <dt>
                                    <img src="{{ orderitem.goods.productimg }}">
                                </dt>
                                <dd><span>{{ orderitem.goods.productname|truncatechars:8 }}</span></dd>
                            </dl>
                        </li>
                    {% endfor %}
                </ul>
            </menu>

            <div id="payBtnDiv" title="{{ order.orderNum }}">
                <button title="0" class="btn btn-warning">余款</button>
                <button title="1" class="btn btn-info">支付宝</button>
                <button title="2" class="btn btn-success">微信</button>
            </div>
        </div>

    </div>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" >
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                     <span id="payMsg">正在支付...</span>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block extJs %}
    <script src="{% static 'order/js/order.js' %}"></script>
{% endblock %}
